.container {
    background-color: rgba(0, 157, 255,0.9);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 10px;
}

.landing-page {
    /* background-color: red; */
    text-align: center;
    /* width:auto; */
    background: transparent url("image0.png") repeat local -10px -10px;
}

.grid-system {
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.title {
    font-family: fantasy;
    margin-top: 30px;
}


.start-game {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px
}

.smile-face {
    font-size: 20px;
    /* color: yellow; */
}

.paragraph {
    width: 80%;
    /* Adjust this value to set the desired width for the paragraphs */
    margin: 0 auto;
    text-align: justify;
    font-size: x-large;
}



/* @media only screen and (max-width: 500px) {
    body {
      background-color: lightblue;
    }
  } */

@media only screen and (max-width: 520px) {
    .title {

        margin-top: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .paragraph {

        font-size: large;
    }
}

@media only screen and (max-width: 1200px) {
    .paragraph {

        font-size: medium;
    }
}



@media only screen and (max-width: 375px) {
    .paragraph {

        font-size: 3px;
    }

    .title {
        margin-top: 10px;
    }

}


@media only screen and (max-width: 375px) {
    .title {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 800px) {
    .start-game {
        font-size: xx-small;
    }

}


@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  @keyframes shiny {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .typewriter {
    font-family: "Press Start 2P", cursive;
    font-size: 24px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    border-right: .15em solid;
    white-space: nowrap;
    animation: typing 4s steps(12, end), blink .5s step-end infinite;
    background: linear-gradient(90deg, #F0E68C, #FF4500, #7FFF00, #6495ED, #EE82EE);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shiny 5s ease-in-out infinite, typing 4s steps(12, end), blink .5s step-end infinite;
  }